// scrollTop
.scrollToTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../images/basic/top.png) no-repeat center top rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: 0.3s ease-out;
  display: none;
  z-index: 999;
  text-indent: -999999px;
  @media screen and (max-width: 660px) {
    bottom: 4.5rem;
  }
  &:hover,
  &:focus {
    background: url(../images/basic/top.png) no-repeat center top rgba(0, 0, 0, 0.8);
    box-shadow: none;
  }
}

//元素對齊 align
// .align-left{
//   text-align: left;
// }
// .align-center{
//   text-align: center;
// }
// .align-right{
//   text-align: right;
// }
// .align-top{
//   vertical-align: top;
// }
// .align-middle{
//   vertical-align: middle;
// }
// .align-bottom{
//   vertical-align: bottom;
// }
// .align-baseline{
//   vertical-align: baseline;
// }
// $fileTypePic: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other ;
// @each $fileTypePic in $fileTypePic {
//   a.file_#{$fileTypePic} {
//     background: url(../images/basic/icon_#{$fileTypePic}.png) no-repeat center center;
//     width: 26px;
//     height: 28px;
//     font-size: 0;
//     overflow: hidden;
//     vertical-align: middle;
//     background-size: contain;
//   }
// }
$fileTypePic: doc,
docx,
odt,
xls,
xlsx,
csv,
ods,
ppt,
pptx,
odp,
zip,
txt,
mov,
mp3,
jpg,
wmv,
mp4,
pdf,
other;
@each $fileTypePic in $fileTypePic {
  a.file_#{$fileTypePic} {
    font-size: 0;
    display: inline-block;
    &:before {
      content: "";
      background: url(../images/basic/icon_#{$fileTypePic}.png) no-repeat center center;
      width: 26px;
      height: 28px;
      font-size: 0;
      overflow: hidden;
      vertical-align: middle;
      background-size: contain;
      display: inline-block;
    }
    span {
      display: inline-block;
      font-size: .875rem;
      color: #767676;
      vertical-align: middle;
      @include screen('mobile') {
        // display: block;
        // margin-right: 0;
        // margin-bottom: .2em;
      }
    }
    &:focus {
      box-shadow: 0 0px 0px 2px $secondaryColor;
    }
  }
}

.icon_file {
  font-size: 0;
  display: inline-block;
  &:before {
    content: "";
    background: url(../images/basic/icon_download.svg) no-repeat center center;
    width: 28px;
    height: 28px;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
    background-size: contain;
    display: inline-block;
  }
  &:hover,
  &:focus {
    &:before {
      background: url(../images/basic/icon_download_.svg) no-repeat center center;
    }
  }
}

.icon_safe {
  font-size: 0;
  display: inline-block;
  &:before {
    content: "";
    background: url(../images/basic/icon_safe.svg) no-repeat center center;
    width: 28px;
    height: 28px;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
    background-size: contain;
    display: inline-block;
  }
  &:hover,
  &:focus {
    &:before {
      background: url(../images/basic/icon_safe_.svg) no-repeat center center;
    }
  }
}

.icon_safe_ {
  font-size: 0;
  display: inline-block;
  &:before {
    content: "";
    background: url(../images/basic/icon_safe2.svg) no-repeat center center;
    width: 30px;
    height: 30px;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
    background-size: contain;
    display: inline-block;
  }
  &:hover,
  &:focus {
    &:before {
      background: url(../images/basic/icon_safe2_.svg) no-repeat center center;
    }
  }
}

.icon_delete {
  font-size: 0;
  display: inline-block;
  &:before {
    content: "";
    background: url(../images/basic/icon_delete.png) no-repeat center center;
    width: 28px;
    height: 28px;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
    background-size: contain;
    display: inline-block;
    opacity: .5;
  }
  &:hover,
  &:focus {
    &:before {
      opacity: .8;
    }
  }
}